.sidebarOption {
  
  color: gray;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* background-color: yellow; */

}



.sidebarOption:hover{
  color: rgb(39, 141, 13);
  transition: 200ms ease-in;
}

.sidebarOption_icon {
  padding: 0 10px;
}